a1-stocks-biomass-1.pdf
a1-stocks-ce-1.pdf
a1-stocks-harvest-1.pdf
a1-stocks-hrate-1.pdf
a1-stocks-rec-1.pdf
a1-stocks-ssb-1.pdf
a1-stocks-yield-1.pdf
r-unnamed-chunk-5-1.pdf
a1-stocks-unnamed-chunk-7-1.pdf
a1-stocks-unnamed-chunk-8-1.pdf
